.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
}

.inputContainer {
    position: relative;
}

.inputWrapper {
    position: relative;
}

.label {
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    display: block;
    padding-top: 12px;
    margin-bottom: -5px;
}

.button.hide:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: var(--separator-color);

}